@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  --primary-color: #EAAD38;
  --secondary-color: #DC6441;
  --ternary-color:#800020;
  --text-heading:#1F2937;
  --background-color:#111827;
  --body-text:rgb(75, 85, 99);
  --background-text:rgb(156, 163, 175);
  --media-background:#292F3D;
  --background-text:rgb(255, 255, 255);
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Nunito", sans-serif;
  --ternary-font: "Pacifico", cursive;
  --top-font:"Lora", serif;
  /* Text scale in REM (scalable & responsive) */
  --text-xs: 0.75rem;
  /* 12px */
  --text-sm: 0.875rem;
  /* 14px */
  --text-md: 1rem;
  /* 16px */
  --text-lg: 1.25rem;
  /* 20px */
  --text-xl: 1.875rem;
  /* 30px */
  --text-2xl: 2.5rem;
  /* 40px */
  --text-3xl: 3rem;
  /* 48px (optional) */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: var(--secondary-font);
  color: var(--body-text);
  background-color: var(--text-heading) !important;
  color: white !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

ul {
  list-style: none;
  padding: 0 !important;
  margin-bottom: 0 !important;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: var(--text-3xl);
}

h2 {
  font-size: var(--text-2xl);
}

h3 {
  font-size: var(--text-xl);
}

h4 {
  font-size: var(--text-lg);
}

.font-large {
  font-size: var(--text-3xl) !important;
}

.normal-heading {
  font-size: var(--text-lg);
  font-weight: 700;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

.section-heading {
  font-size: var(--text-xl);
  font-weight: 700;
  font-family: var(--primary-font);
  color: var(--secondary-color);
}

.section-content {
  color: white;
}

.background {
  background-color: var(--ternary-color);
}

.color-white {
  color: white !important;
}

.primary-font {
  font-family: var(--primary-font);
}

.secondary-font {
  font-family: var(--secondary-font);
}

.ternary-font {
  font-family: var(--ternary-font);
}

.top-font {
  font-family: var(--top-font);
}

.border-left {
  padding-right: 10px;
  border-right: 1px solid white;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  padding: 10px 20px;
  background-color: var(--ternary-color);
  color: white;
  width: fit-content;
  border-radius: 20px;
  cursor: pointer;
}
.button:hover {
  background-color: var(--primary-color);
}

.button-1 {
  padding: 10px 20px;
  background-color: var(--ternary-color);
  color: white;
  width: fit-content;
  border-radius: 20px;
  cursor: pointer;
}
.button-1:hover {
  background-color: var(--primary-color);
}

.button-2 {
  padding: 10px 20px;
  border: 1px solid #800020;
  transition: 0.5s;
  border-radius: 15px;
  font-weight: 600;
}
.button-2:hover {
  background-color: var(--ternary-color);
  color: white;
}

article.content h1,
article.content h2,
article.content h3,
article.content h4,
article.content h5 {
  margin-bottom: 5px;
}
article.content p {
  margin-bottom: 5px;
}
article.content ul {
  list-style-type: disc !important;
  padding-inline: 25px !important;
  margin-bottom: 10px !important;
}

.brown-color {
  color: var(--ternary-color);
}

.top-icon {
  margin-inline: auto;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.205);
}

.card {
  background-color: rgba(255, 255, 255, 0.26) !important;
  color: white;
}
.card img {
  position: relative;
}
.card .relative-date {
  position: absolute;
  top: 15px;
  left: 80%;
  background-color: var(--primary-color);
  padding: 5px;
  color: white;
}

.site-header {
  position: relative;
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}
.site-header .top-header {
  background: var(--ternary-color);
  color: white;
  text-align: center;
  padding: 5px;
  transition: transform 0.4s ease;
  font-family: var(--top-font);
  font-size: var(--text-sm);
}
.site-header .top-header a:hover {
  color: var(--primary-color) !important;
  text-decoration: underline !important;
}
.site-header .main-nav {
  padding: 5px 0;
  background: transparent;
  transition: background-color 0.5s ease, transform 0.5s ease;
  z-index: 99;
  position: relative;
  background-color: rgba(234, 172, 56, 0.7725490196);
  font-family: var(--secondary-font);
}
.site-header .main-nav nav ul li {
  color: white !important;
}
.site-header .main-nav nav ul li a {
  position: relative;
}
.site-header .main-nav nav ul li a::before {
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  width: 0;
  height: 2px;
  transition: 0.2s;
  background-color: var(--primary-color);
}
.site-header .main-nav nav ul li a:hover::before {
  width: 100%;
}
.site-header .main-nav .top-heading {
  font-family: var(--ternary-font);
  color: var(--secondary-color);
}
.site-header .main-nav .menu {
  display: none;
}
.site-header.scrolled .top-header {
  transform: translateY(-100%);
}
.site-header.scrolled .main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  animation: smoothScroll 0.5s forwards;
  background-color: var(--ternary-color);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
.site-header.scrolled .main-nav nav ul li {
  color: white !important;
}
@keyframes smoothScroll {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: transflateY(0%);
  }
}

footer {
  background-color: var(--background-color);
  padding: 30px;
  color: var(--background-text);
}
footer .top-footer {
  padding: 10px 0;
  border-bottom: 1px solid rgb(68, 68, 68);
}
footer .top-footer .media-content {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--media-background);
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
footer .top-footer .media-content:hover {
  background-color: #404652;
}
footer .top-footer .footer-heading {
  color: white !important;
  font-weight: 500 !important;
}
footer .top-footer li {
  padding: 5px 0;
}
footer .top-footer li a:hover {
  color: white;
}
footer .top-footer .contact i {
  font-size: var(--text-xs);
  color: var(--ternary-color) !important;
}
footer .top-footer .contact i:hover {
  color: var(--ternary-color) !important;
}

.banner {
  position: relative;
}
.banner img {
  filter: brightness(50%);
  height: 90vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.banner .banner-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-block: auto;
  font-size: var(--text-lg);
  font-family: var(--secondary-font);
}
.banner .banner-content .banner-header {
  font-size: var(--text-3xl);
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-weight: 600;
  margin-bottom: 10px;
}
.banner .banner-content button {
  font-size: 1rem;
}
.banner .banner-content .flex {
  gap: 10px;
}
.banner .banner-content .button {
  margin-top: 20px;
}

.opening {
  color: white;
}

.about {
  background-color: var(--background-color);
  color: white;
}

.our-menu {
  position: relative;
}
.our-menu img {
  filter: brightness(30%);
  height: 60vh;
}
.our-menu .menu-content {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.background {
  background-color: var(--ternary-color);
}/*# sourceMappingURL=style.css.map */