footer {
    background-color: var(--background-color);
    padding: 30px;
    color: var(--background-text);

    .top-footer {
        padding:10px 0;
        border-bottom:1px solid rgb(68, 68, 68);
        .media-content {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: var(--media-background);
            @include flex-center;

            &:hover {
                background-color: #404652;
            }
        }

        .footer-heading {
            color: white !important;
            font-weight: 500 !important;
        }

        li {
            padding: 5px 0;

            

            a {
                &:hover {
                    color: white;
                }
            }
        }

        .contact{
            i{
                font-size:var(--text-xs);
                color:var(--ternary-color) !important;
                &:hover{
                    color:var(--ternary-color)!important;
                }
            }
        }
    }
}