header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: transparent;
    padding: 10px;

    ul {
        gap: 20px;
        color: white;
    }

    .menu {
        display:none;
        i {
            color: white;
        }
    }

    // tablet
    @media (max-width:768px) {
        nav {
            display: none;
        }
        .menu{
            display:block;
        }
    }

}