.site-header {
    position: relative;
    width: 100%;
    z-index: 100;
    transition: all 0.3s ease-in-out;

    .top-header {
        background: var(--ternary-color);
        color: white;
        text-align: center;
        padding: 5px;
        transition: transform 0.4s ease;
        font-family:var(--top-font);
        font-size:var(--text-sm);
        a {
            &:hover {
                color: var(--primary-color) !important;
                text-decoration: underline !important;
            }
        }
    }

    .main-nav {
        padding: 5px 0;
        background: transparent;
        transition: background-color 0.5s ease, transform 0.5s ease;
        z-index: 99;
        position: relative;
        background-color:#eaac38c5;
        font-family:var(--secondary-font);
        nav {
            ul {
                li {
                    color: white !important;

                    a {
                        position: relative;
                        &::before {
                            position: absolute;
                            top: 100%;
                            left: 0;
                            content: "";
                            width: 0;
                            height: 2px;
                            transition:0.2s;
                            background-color: var(--primary-color);
                        }
                        &:hover::before{
                            width:100%;
                        }
                    }
                }
            }
        }

        .top-heading {
            font-family: var(--ternary-font);
            color: var(--secondary-color);
        }

        .menu {
            display: none;
        }
    }

    &.scrolled {
        .top-header {
            transform: translateY(-100%);
        }

        .main-nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            animation: smoothScroll 0.5s forwards;
            background-color: var(--ternary-color);
            box-shadow: $shadow-glow;

            nav {
                ul {
                    li {
                        color: white !important;
                    }
                }
            }
        }
    }

    @keyframes smoothScroll {
        from {
            transform: translateY(-100%);
        }

        to {
            transform: transflateY(0%);
        }
    }
}