body {
    font-size: 16px;
    font-family: var(--secondary-font);
    color: var(--body-text);
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

ul {
    list-style: none;
    margin-bottom: 0 !important;
    padding:0 !important;
}

// heading
.top-heading {
    font-size: var(--text-xl);
    font-family: var(--ternary-font);
    color: var(--primary-color);
}

.heading-title {
    font-size: var(--text-xl);
    font-weight: 700;
    color: var(--text-heading);
    font-family: var(--primary-font);
}

.second-heading {
    font-size: var(--text-lg);
    font-family: var(--primary-font);
    font-weight: 600;
    color: var(--text-heading);
}

.normal-heading {
    font-family: var(--primary-fonts);
    font-weight: 600;
    color: var(--text-heading);
}

// .content
.small-content {
    font-size: var(--text-sm);
}



// img
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// fixed
.background-fix{
     background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 80vh; /* or set a fixed height if needed */
    display: flex;
    align-items: center;
    filter: brightness(80%);
}

// remove margin
h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 0 !important;
}

// background
.background {
    background-color: var(--ternary-color);
}


.flex-center {
    display: flex;
    align-items: center;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

//border
.border-btn{
    border-bottom:1px solid rgb(153, 150, 150) !important;
} 

// buttons
.button {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: white;
    width: fit-content;
    border-radius: 20px;

    &:hover {
        background-color: var(--primary-color);
    }
}



// card
.card {
    padding: 0;
    background-color: white;
    border: 1px solid red;

    img {
        height: 200px;
    }

    .card-content {
        background-color: white;
    }
}


// color
.brown-color {
    color: var(--ternary-color);
}


// carousel
.owl-stage-outer {
    position: relative;
}

.owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 40px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: white !important;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);

        &:hover {
            opacity: 0.8;
        }
    }
}





// media queries
// laptop 
@media (max-width:1024px) {}

// tablet
@media (max-width:768px) {}

// phone
@media (max-width:640px) {}