* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: var(--secondary-font);
    color: var(--body-text);
    background-color: var(--text-heading) !important;
    color:white !important;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

// ul
ul {
    list-style: none;
    padding: 0 !important;
    margin-bottom: 0 !important;
}

// img
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// heading
h1 {
    font-size: var(--text-3xl);
}

h2 {
    font-size: var(--text-2xl);
}

h3 {
    font-size: var(--text-xl);
}

h4 {
    font-size: var(--text-lg)
}

.font-large {
    font-size: var(--text-3xl) !important;
}

.normal-heading {
    font-size: var(--text-lg);
    font-weight: 700;
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

.section-heading {
    font-size: var(--text-xl);
    font-weight: 700;
    font-family: var(--primary-font);
    color: var(--secondary-color);
}

// contant
.section-content {
    color: white;

}

// background
.background {
    background-color: var(--ternary-color);
}

.color-white{
    color:white !important;
}
//fonr-family
.primary-font {
    font-family: var(--primary-font);
}

.secondary-font {
    font-family: var(--secondary-font);
}

.ternary-font {
    font-family: var(--ternary-font);
}

.top-font {
    font-family: var(--top-font);
}

// border
.border-left {
    padding-right: 10px;
    border-right: 1px solid white;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}


// buttons
.button {
    padding: 10px 20px;
    background-color: var(--ternary-color);
    color: white;
    width: fit-content;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
        background-color: var(--primary-color);
    }
}

.button-1 {
    padding: 10px 20px;
    background-color: var(--ternary-color);
    color: white;
    width: fit-content;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
        background-color: var(--primary-color);
    }
}

.button-2 {
    padding: 10px 20px;
    border: 1px solid #800020;
    transition: 0.5s;
    border-radius: 15px;
    font-weight: 600;

    &:hover {
        background-color: var(--ternary-color);
        color: white;
    }
}

article {
    &.content {

        h1,
        h2,
        h3,
        h4,
        h5 {
            margin-bottom: 5px;
        }

        p {
            margin-bottom: 5px;
        }

        ul {
            list-style-type: disc !important;
            padding-inline: 25px !important;
            margin-bottom: 10px !important;
        }
    }
}

// color
.brown-color {
    color: var(--ternary-color);
}

.top-icon {
    margin-inline: auto;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.205);
}

.card {
    background-color: rgba(255, 255, 255, 0.26) !important;
    color: white;
    img{
        position:relative;
    }
    .relative-date{
        position:absolute;
        top:15px;
        left:80%;
        background-color:var(--primary-color);
        padding:5px;
        color:white;
    }
}