@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {
    --primary-color: #EAAD38;
    --secondary-color: #DC6441;
    --ternary-color:#800020;
    --text-heading:#1F2937;
    --background-color:#111827;
    --body-text:rgb(75, 85, 99);
    --background-text:rgb(156, 163, 175);
    --media-background:#292F3D;
    --background-text:rgb(255, 255, 255);
    --heading-color:#FF6B00;
    --text-color:#E5E7EB;
    --link-color:#FF6B00;
    --link-hover:#FFA94D;

    // google fonts
    --primary-font: "Playfair Display", serif;
    --secondary-font: "Nunito", sans-serif;
    --ternary-font: "Pacifico", cursive;
    --top-font:"Lora", serif;

    /* Text scale in REM (scalable & responsive) */
    --text-xs: 0.75rem;
    /* 12px */
    --text-sm: 0.875rem;
    /* 14px */
    --text-md: 1rem;
    /* 16px */
    --text-lg: 1.25rem;
    /* 20px */
    --text-xl: 1.875rem;
    /* 30px */
    --text-2xl: 2.5rem;
    /* 40px */
    --text-3xl: 3rem;
    /* 48px (optional) */


}

$shadow-xs: 0 1px 2px rgba(0, 0, 0, 0.05);
$shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
$shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
$shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.15);
$shadow-xl: 0 20px 25px rgba(0, 0, 0, 0.2);
$shadow-2xl: 0 25px 50px rgba(0, 0, 0, 0.25);
$shadow-inner: inset 0 2px 4px rgba(0, 0, 0, 0.06);
$shadow-glow: 0 0 10px rgba(255, 255, 255, 0.2);